@import '~bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

h1 {
  font-family: 'Pacifico', cursive;
}

body {
  background-color: lightblue;
}

button {
  font-family: 'Pacifico', cursive;
  border-radius: 20em;
}
